.container {
  padding-right: 70px;
  padding-left: 70px;
}
.jumbotron {
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.car {
  width: 350px;
}
.look {
  width: 300px;
}
.row p {
  font-size: 18px;
}
.goof {
  width: 300px;
}
.bunny {
  width: 300px;
}
.jackson {
  width: 350px;
}
